body{
  font: 120% normal normal Georgia, Times, serif;
  background: rgb(243, 240, 234);
  background: whitesmoke;
}

h1, article{
  width: 80vw;
  max-width: 45rem;
  color: rgb(99, 86, 81);
}

h1{
  font-family: kaushan-script;
  font-size: 6em;
  width: 80vw;
  margin: 1rem auto 2rem;
  text-align: center;
}

article{
  margin: 0 auto 0 auto;
  padding: 0 0 2em;
}

p{
  line-height: 1.6;
  font-size: 1rem;
  font-family: georgia;
  text-align: justify;
  padding-left: 10rem;
  color: rgb(68, 59, 56);
}

.coffee{
  shape-outside: circle(50% at 50% 50%) margin-box;
  float: left;
  margin: 1em;
  width: 380px;
  height: 380px;
}

.coffee img{
  width: inherit;
  height: inherit;
  transform-origin: center;
  -webkit-transform: scale(0.9);
}

.spoon{
  shape-outside: polygon(nonzero, 30px 438px, 11px 408px, 15px 361px, 36px 310px, 84px 281px, 112px 254px, 218px 3px, 286px 38px, 151px 270px, 145px 307px, 156px 363px, 128px 420px, 102px 444px, 66px 453px) margin-box;
  shape-margin: 0.5em;
  float: right;
  margin: 1em -10% 1em 1em;
  width: 250px;
  height: 420px;
}

.spoon img{
  margin: 0;
  width: inherit;
  height: inherit;
  -webkit-transform: scale(1, -1);
}

.credits{
  margin-top: 3rem;
  text-align: left;
  font-style: italic;
}
.credits a{
  color: inherit;
}
