body{
  margin: 0 auto;
  padding: 0 4em 0 0;
  max-width: 45em;
  min-width: 32em;
  font-family: Georgia, Times, serif;
  background: rgb(228, 245, 241);
  color: rgb(82, 71, 66);
}

h1{
  margin: 1rem auto 1rem;
  text-align: center;
  font-family: kaushan-script;
  font-size: 7.2em;
}

p {
  font-size: 1.1em;
  line-height: 1.6;
  padding-left: 8em;
}

.coffee{
  -webkit-shape-outside: circle(50% at 50% 50%) border-box;
  -webkit-shape-margin: 1.5em;

  shape-outside: circle(50% at 50% 50%) border-box;
  shape-margin: 1.5em;

  margin: 1.5em;
  width: 380px;
  height: 380px;
  float: left;
}

.spoon{
  -webkit-shape-outside: polygon(30px 438px, 11px 408px, 15px 361px, 36px 310px, 84px 281px, 112px 254px, 218px 3px, 286px 38px, 151px 270px, 145px 307px, 156px 363px, 128px 420px, 102px 444px, 66px 453px);
  -webkit-shape-margin: 0.5em;

  shape-outside: polygon(30px 438px, 11px 408px, 15px 361px, 36px 310px, 84px 281px, 112px 254px, 218px 3px, 286px 38px, 151px 270px, 145px 307px, 156px 363px, 128px 420px, 102px 444px, 66px 453px);
  shape-margin: 0.5em;

  -webkit-transform: scale(1, -1);
  transform: scale(1, -1);

  margin: 1em -10% 1em 1em;
  width: 250px;
  height: 420px;
  float: right;
}

.credits{
  margin: 2em 0;
  font-style: italic;
}

.credits a{
  color: inherit;
}

.credits a:hover{
  text-decoration: none;
}
